<picture>
    <img src="../../assets/LOGO_SOMAR.png" title="Logo SOMAR" alt="Logo Projeto Somar, fazendo mais pelo futuro que queremos, Fecomercio, Sindicatos, Sesc e Senac">
</picture>
<picture>
    <img src="../../assets/LOGO_SOMAR.png" title="Logo SOMAR" alt="Logo Projeto Somar, fazendo mais pelo futuro que queremos, Fecomercio, Sindicatos, Sesc e Senac">
</picture>
<picture>
    <img src="../../assets/LOGO_SOMAR.png" title="Logo SOMAR" alt="Logo Projeto Somar, fazendo mais pelo futuro que queremos, Fecomercio, Sindicatos, Sesc e Senac">
</picture>