<section class="center_main_cadastro_section">
    <form class="default_form" (ngSubmit)="adicionarProj()">
        <label class="aviso_conta_info" *ngIf="aviso != ''">{{aviso}}</label>
        <br>
        <br>
        <label class="criar_conta_label">Nome</label>
        <br>
        <br>
        <input type="text" class="form_input" [(ngModel)]="nome" name="nome" placeholder="Nome">
        <br>
        <br>
        <label class="criar_conta_label">Cidade</label>
        <br>
        <br>
        <input type="text" class="form_input" [(ngModel)]="cidade" name="cidade" placeholder="Porto Alegre">
        <br>
        <br>
        <label class="criar_conta_label">Descrição</label>
        <br>
        <br>
        <textarea type="text" class="form_input" name="descricao" [(ngModel)]="descricao"></textarea>
        <br>
        <br>
        <br>
        <h3>Clique para adicionar uma ODS:</h3>
        <app-ods-cards-horizontal (click)="checarODS()" [selectable]="true"></app-ods-cards-horizontal>
        <h3>ODS Adicionadas:</h3>
        <app-ods-cards-horizontal [ods]=novas_ods [selectable]="false"></app-ods-cards-horizontal>
        <button type="submit">Cadastrar</button>
        <br>
        <br>
        <br>
      </form>
      <app-footer></app-footer>
</section>
