<section class="center_main_cadastro_section">
    <form class="default_form" (ngSubmit)="adicionarProj()">
        <label class="aviso_conta_info" *ngIf="aviso != ''">{{aviso}}</label>
        <br>
        <br>
        <label class="criar_conta_label">Nome</label>
        <br>
        <br>
        <input type="text" class="form_input" [(ngModel)]="nome" name="nome" placeholder="Nome">
        <br>
        <br>
        <label class="criar_conta_label">Cidade</label>
        <br>
        <br>
        <input type="text" class="form_input" [(ngModel)]="cidade" name="cidade" placeholder="Porto Alegre">
        <br>
        <br>
        <label class="criar_conta_label">Descrição</label>
        <br>
        <br>
        <textarea type="text" class="form_input" name="descricao" [(ngModel)]="descricao"></textarea>
        <br>
        <br>
        <br>
        <button type="submit">Cadastrar</button>
      </form>
      <app-footer></app-footer>
</section>
