<section class="center_main_section">
    <h1 class="left_paragraph">
        Conheça nossas instituições:
    </h1>
    <hr>
    <div *ngFor="let insti of instituicoes; let i = index">
        <div>
            <div class="center_left">
                <h2 (click)="goToInstituicao(insti)">
                    {{insti.nome}} - {{insti.endereco}}
                </h2>
                <div *ngIf="insti.projetos.length <= 0">
                    <h4>
                        Nenhum projeto cadastrado...
                    </h4>
                </div>
                <div *ngFor="let proj of insti.projetos">
                    <h4 (click)="goToProjeto(proj)">
                        {{proj.nome}} - {{proj.cidade}}
                    </h4>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <app-footer></app-footer>
</section>