<section class="center_main_section">
    <h1 class="left_paragraph">
        Conheça nossos projetos:
    </h1>
    <div *ngFor="let projeto of projetos; let i = index">
        <div class="center_left">
            <h2 (click)="goToProjeto()">
                {{projeto.nome}}
            </h2>
            <h4>
                {{projeto.instituicao}}
            </h4>
            <hr>
        </div>
    </div>
    <p class="left_paragraph">
        Buscar por ODS:
    </p>
    <div class="ods_cards">
        <app-ods-cards-horizontal [asd]=12></app-ods-cards-horizontal>
    </div>
    <app-footer></app-footer>
</section>

