<section class="center_main_section">
    <h1 class="left_paragraph">
        Conheça nossos projetos:
    </h1>
    <div *ngFor="let projeto of projetos; let i = index">
        <div *ngIf="possuiODS(projeto)">
            <div class="center_left">
                <h2 (click)="goToProjeto(projeto)">
                    {{projeto.nome}}
                </h2>
                <div *ngFor="let insti of projeto.instituicoes">
                    <h4 (click)="goToProjeto(projeto)">
                        {{insti.nome}}
                    </h4>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <p class="left_paragraph">
        Filtrar por ODS:
    </p>
    <div class="ods_cards">
        <app-ods-cards-horizontal></app-ods-cards-horizontal>
    </div>
    <app-footer></app-footer>
</section>

