<section class="center_main_section">
    <h1 class="centered_paragraph">
        Nossas ODS:
    </h1>
    <br>
    <div class="ods_cards">
        <app-ods-cards-horizontal></app-ods-cards-horizontal>
    </div>
    <br>
    <div *ngIf="mostrarODS() == -1">
        <p class="bold">
            Selecione uma ODS para mostrar mais informações...
        </p>
    </div>
    
    <div *ngIf="mostrarODS() != -1">
        <div class="ods_info_div">
            <hr>
            <h1 class="left_most_paragraph">
                {{ods.nome}}
            </h1>
            <div
            style="background: {{ods.cor}};
            height: 100px;
            width: 100px;
            margin: 2px;
            float: left;
            transition: 150ms;
            overflow: hidden;
            border-radius: 5px;">
                <img src={{getODSImage(ods.id)}}/>
            </div>
            <p class="left_bold_paragraph">
                Indice de desenvolvimento: <em>{{ods.numero}}</em>
                <br>
                Número de projetos aderentes: <em>{{projetos.length}}</em>
                <br>
                <br>
                <br>
            </p>
            <p class="left_most_paragraph">
                {{ods.descricao}}
            </p>
        </div>
    </div>
    <app-footer></app-footer>
</section>
