<section class="center_main_section">
    <h1 style="color:black;">{{projeto.nome}} - {{projeto.cidade}}</h1>
    <!--                                                                  adicionar imagem
    <div class="add_ods_proj_div" *ngIf="minhaInsti()">
        <input type="file" (change)="onFileSelected($event)">
        <br>
        <br>
        <button class="add_img_input" (click)="adicionarIMG()">Adicionar Imagem</button>
        <br>
        <br>
    </div>
    -->
    <picture>
        <img *ngFor="let img of projeto.imagens" class="img_class" src={{img}}/>
    </picture>
    <h2 class="centered_paragraph">O projeto:</h2>
    <br>
    <p class="centered_paragraph">
        {{projeto.descricao}}
    </p>
    <h2>Parceiros:</h2>
    <!--
    <div *ngIf="minhaInsti() && !add_insti">
        <form class="default_form">
            <button (click)="adicionarInsti()">Editar ODS</button>
        </form>
    </div>
    <div *ngIf="add_insti">
        <form class="default_form">
            <label class="criar_conta_label">CNPJ</label>
            <br>
            <br>
            <input type="text" class="form_input" (input)="mascaraCNPJ()" maxlength="18" [(ngModel)]="cnpj" name="cnpj" placeholder="12.345.678/0001-00">
            <br>
            <br>
            <label class="aviso_conta_info" *ngIf="aviso != ''">{{aviso}}</label>
            <br>
            <br>
            <button type="buttn" (click)="salvarInsti()">Adicionar</button>
        </form>
    </div>
    -->
    <div class="add_ods_proj_div" *ngFor="let insti of projeto.instituicoes">
        <h3 (click)="goToInstituicao(insti)" style="cursor:pointer;">
            {{insti.nome}}
        </h3>
    </div>
    <div class="add_ods_proj_div" *ngIf="minhaInsti() && !editar_ods">
        <form class="default_form">
            <button (click)="editarODS()">Editar ODS</button>
        </form>
    </div>
    <hr>
    <div *ngIf="editar_ods">
        <h3>Todas ODS - clique para adicionar:</h3>
        <app-ods-cards-horizontal (click)="checarODS()" [selectable]="true"></app-ods-cards-horizontal>
        <h3>ODS Atuais - Clique para remover:</h3>
        <app-ods-cards-horizontal (click)="removerODS()" [ods]=novas_ods [selectable]="true"></app-ods-cards-horizontal>
        <h3>ODS Antigas:</h3>
        <app-ods-cards-horizontal [project_ods]=projeto [selectable]="false"></app-ods-cards-horizontal>
        <form class="default_form">
            <button type="button" (click)="salvarODS()">Salvar</button>
        </form>
    </div>
    <br>
    <div *ngIf="editar_ods == false">
        <app-ods-cards-horizontal [project_ods]=projeto [selectable]="false"></app-ods-cards-horizontal>
    </div>
    <br>
    <br>
    <app-footer></app-footer>
</section>
