<section class="center_main_section">
    <h1 style="color:black;">{{projeto.nome}} - {{projeto.cidade}}</h1>
    <picture>
        <img *ngFor="let img of projeto.imagens" class="img_class" src={{img}}/>
    </picture>
    <h2 class="centered_paragraph">O projeto:</h2>
    <br>
    <p class="centered_paragraph">
        {{projeto.descricao}}
    </p>
    <h2>Parceiros:</h2>
    <div class="add_ods_proj_div" *ngFor="let insti of projeto.instituicoes">
        <h3 (click)="goToInstituicao(insti)" style="cursor:pointer;">
            {{insti.nome}}
        </h3>
    </div>
    <div class="add_ods_proj_div" *ngIf="minhaInsti()">
        <hr>
        <h3 (click)="editarODS()">Editar ODS</h3>
    </div>
    <hr>
    <div *ngIf="editar_ods">
        <h3>Todas ODS - clique para adicionar:</h3>
        <app-ods-cards-horizontal (click)="checarODS()" [selectable]="true"></app-ods-cards-horizontal>
        <h3>ODS Atuais - Clique para remover:</h3>
        <app-ods-cards-horizontal (click)="removerODS()" [ods]=novas_ods [selectable]="true"></app-ods-cards-horizontal>
        <h3>ODS Antigas:</h3>
        <app-ods-cards-horizontal [project_ods]=projeto [selectable]="false"></app-ods-cards-horizontal>
        <form class="default_form">
            <button type="button" (click)="salvarODS()">Salvar</button>
        </form>
    </div>
    <div *ngIf="editar_ods == false">
        <app-ods-cards-horizontal [project_ods]=projeto [selectable]="false"></app-ods-cards-horizontal>
    </div>
    <app-footer></app-footer>
</section>
