<section class="center_main_section">
    <h1>PIDS Tech</h1>
    <h3>Senac Tech - Porto Alegre RS</h3>
    <hr>
    <h2 class="centered_paragraph">O projeto:</h2>
    <br>
    <p class="centered_paragraph">
        Para quem possui computadores desktop, laptop, monitores, teclado e mouse que não utiliza mais e não sabe como descartá-los da maneira correta, eles podem ter um destino útil e solidário. Isso porque o Senac Tech recebe anualmente doações em sua escola por meio do PIDS Tech — Programa de inclusão digital Senac Tech — , que consiste em coletar computadores para que instituições, escolas, ONGS, ou até mesmo alunos da escola, que ainda não tenham condições financeiras para a compra desses equipamentos, possam ter acesso à informação e às tecnologias.  
    </p>
    <br>
    <img src="../../assets/PIDS.png" width="5px" height="5px"/>
    <hr>
    <app-ods-cards-horizontal></app-ods-cards-horizontal>
    <app-footer></app-footer>
</section>
