<section class="center_main_section">
    <h1 style="color:black;">{{instituicao.nome}}</h1>
    <h2>{{instituicao.endereco}}</h2>
    <hr>
    <div *ngIf="minhaInsti()">
      <h1 (click)="adicionarProj()">Adicionar Projeto</h1>
    </div>
    <picture>
      <img *ngFor="let img of instituicao.imagens" class="img_class" src={{img}}>
    </picture>
    <div class="centered_paragraph">
      <p>
        {{instituicao.descricao}}
      </p>
      <hr>
      <h2>
        Contato:
      </h2>
      <a target="_blank" href={{instituicao.website}}>Website</a>
      <p>
        Telefone: {{instituicao.telefone}}
      </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <app-footer></app-footer>
</section>
