<section class="center_main_section">
    <h1>{{instituicao.nome}}</h1>
    <h2>{{instituicao.endereco}}</h2>
    <hr>
    <picture>
        <img src="../../assets/LOGO_SOMAR.png" title="Logo SOMAR" alt="Logo Projeto Somar, fazendo mais pelo futuro que queremos, Fecomercio, Sindicatos, Sesc e Senac">
    </picture>
    <div class="centered_paragraph">
        <p>
          O SOMAR é o novo programa de impacto social do Sistema Fecomércio-
          RS/Sesc/Senac. Por meio dele, serão executados projetos que transformem
    
          realidades das comunidades em que o sistema atua e que contribuam para os
          Objetivos de Desenvolvimento Sustentável, da ONU e bandeiras Fecomércio.
          Possuem como objetivo final a transformação de uma realidade vigente, sempre
          levando em consideração as questões sociais, ambientais e de governança das
          instituições. Sua execução está atrelada aos serviços ofertados pelo Sistema e
          seus públicos atendidos.
          São potencializados em parceria com outras partes interessadas, fortalecendo a
          imagem e o protagonismo do Sistema Comércio.
        </p>
      </div>
</section>
