@import "~bootstrap-icons/font/bootstrap-icons.css";
* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
body{
  background-color:rgb(233, 233, 233);
  margin: 0;
  min-height: 100vh;
}
/*--------------------------------------------------------------------------------top bar*/
nav{
  margin-bottom: 100px;
  position:fixed;
  width:100%;
  z-index:9999;
  font-size:15px;
  font-family:verdana;
  background-color:rgb(255, 255, 255);
  border-bottom: 5px solid rgb(55, 76, 170);
}
ul.topnav{
  list-style:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
ul.topnav li{
  float:left;
}
ul.topnav li a {
  transition: 200ms;
  display:block;
  text-decoration:none;
  color:gray;
  padding:22px 20px;
  text-align:center;
  font-weight: bold;
}
ul.topnav li a:hover{
  color:rgb(0, 0, 0);
  font-size:17px;
}
/*--------------------------------------------------------------------------------center main*/
.center_main_section{
  margin: auto;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 80px;
  min-height: 90vh;
  /*unnecessary but does not hurt*/
}
.center_left{
  font-family: verdana;
  color: black;
  text-align: left;
  margin-left: 17.5%;
  width: max-content;
}
.center_left hr{
  width: auto;
  margin-left:0;
  max-width: 600px;
}
.center_left h2{
  color:rgb(41, 41, 41);
}
.center_left h2,h4{
  cursor: pointer;
  transition: 200ms;
  width: max-content;  /*eita*/
  max-width: 600px;
}
.center_left h2:hover{
  color:black;
  font-size: 25px;
}
.center_left h4:hover{
  color:black;
}
.centered_paragraph{
  font-family: verdana;
  color: rgb(68, 68, 68);
  max-width: 80%;
  margin: auto;
}
.left_paragraph{
  font-family: verdana;
  color: rgb(77, 77, 77);
  max-width: 80%;
  text-align: left;
  margin-left: 17.5%;
}
.left_bold_paragraph{
  font-family: verdana;
  color: rgb(77, 77, 77);
  max-width: 80%;
  font-size: 20px;
  text-align: left;
  margin-left: 17.5%;
  font-weight: bold;
}
.left_bold_paragraph em{
  color:black;
  font-family: verdana;
  font-weight: bold;
  font-size: 24px;
}
.left_most_paragraph{
  font-family: verdana;
  color: rgb(77, 77, 77);
  max-width: 80%;
  text-align: left;
}
.left_most_bold_paragraph{
  font-weight: bold;
  font-family: verdana;
  color: rgb(77, 77, 77);
  max-width: 80%;
  text-align: left;
}
img{
  width: 100%;
  max-width: fit-content;
  height: auto;
}
.bold{
  font-weight: bold;
}
/*--------------------------------------------------------------------------------footer*/
.footer{
  background-color: rgb(33, 55, 255);
  color: rgb(255, 255, 255);
  min-height: 100px;
  border-top: 5px solid rgb(255, 185, 55);
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: left;
}
.footer p{
  color: white;
}
.footer i{
  color: white;
  margin-right: 5px;
}
.footer img{
  width: 200px;
  float:left;
  max-width: fit-content;
  height: auto;
  margin-left: 150px;
}
/*--------------------------------------------------------------------------------ods cards*/
.ods_cards{
  width: auto;
  margin: auto;
}
/*--------------------------------------------------------------------------------login*/
.center_login_section{
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  padding-top: 80px;
  width: 80%;
  min-height: 90vh;
  /*unnecessary but does not hurt*/
}
/*--------------------------------------------------------------------------------default form*/
::placeholder{
  color: rgb(165, 165, 165);
}
.default_form input{
  transition: 200ms;
  width:70%;
  height: auto;
  font-size: 20px;
  background: rgba(0, 0, 0, 0);
  color:rgb(0, 0, 0);
  outline: 0;
  border-width: 0 0 4px;
  border-color: rgb(255, 185, 55);
}
.default_form input:focus{
  border-color: rgb(41, 55, 255)
}
.default_form input:hover{
  border-color: rgb(41, 55, 255);
}
.default_form label{
  color:rgb(88, 88, 88);
  font-weight: bold;
}
.default_form button{
  transition: 200ms;
  padding:20px;
  background: none;
  background-color: rgb(255, 153, 0);
	color: white;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-radius: 5px;
}
.default_form button:hover{
  color: white;
  background-color: rgb(0, 89, 255);
}
/*--------------------------------------------------------------------------------pagina da ods*/
/*--------------------------------------------------------------------------------imagem*/
.img_class{
  width: 500px;
}