<nav>
  <ul class="topnav">
      <li><img class="logo_fecomercio" src="../../assets/logos/Logo-Fecomercio-RS_cor_transparente.png" alt="Logo fecomercio" title="Logo Fecomercio"></li>
      <li><a (click)="goToHome()" value="Home" style="cursor:pointer;">Home</a></li>
      <li><a (click)="goToODS()" value="ODS" style="cursor:pointer;">ODS</a></li>
      <li><a href="#" value="Cidades">Cidades</a></li>
      <li><a (click)="gotToInstituicoes()" value="Instituicoes">Instituições</a></li>
      <li><a (click)="goToProjetos()" value="Projetos" style="cursor:pointer;">Projetos</a></li>
      <li><a (click)="goToLogin()" value="Login" style="cursor:pointer;">Login</a></li>
  </ul>
</nav>
